.content-wrapper {
    display: flex;
    padding: 0;
}

.calendar-timetable-wrapper {
    padding: 15px 15px 15px 15px;
}

.plan-progress-wrapper {
    padding: 15px 15px 15px 0px;
}

.section-report-chart {
    padding: 0;
}

.section-report-chart .chart-title {
    padding: 10px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 3px solid #ff7f45;
    border-bottom: 1px solid #e7eaed;
}

.section-report-chart .chart-title .chart-icon {
    margin-right: 15px;
    color: #ff7f45;
}

.section-report-chart .chart-container {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-report-chart .chart-container > div {
    float: right;
}

.section-report-chart .chart-number {
    /*position: absolute;
font-weight: 500;
color: #191919;
top: 50%;
letter-spacing: 0.7px;
left: 45%;
font-size: 30px;*/
}

/*
.section-report-chart .chart-container > span {
    font-size: 35px;
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    color: #ff7f45;
}*/
