/*.border-bottom-shadow {
    -webkit-box-shadow:0 4px 6px -6px #dee2e6;
    -moz-box-shadow:0 4px 6px -6px #dee2e6;
    box-shadow:0px 5px 1px -1px #dee2e6;
}

.detail {
    color: deepskyblue;
}

.viewMode {
    display: none;
}

.viewMode {
    display: table-cell;
}

.editable {
    display: none;
}

.group-button{
    text-align: right;
}

.label {
    color: white;
    padding: 5px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}

.label-danger {
    background: #d9534f;
}

.label-success {
    background: #5cb85c;
}

.search-text {
    display: inline-block;
    width: 200px;
}

.btn-Add {
    text-align: right;
}

.btn-info {
    height: 35px;
    width: 35px;
    margin: 0!important;
    line-height: 10px!important;
    padding: 0 10px;
}

.form-group {
    margin: 0!important;
}

th {
    padding-top: 0!important;
}

label {
    margin-top: 10px;
}

select {
    min-height: 40px;
}*/

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 24px;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-data {
    height: 55px;
}

.table-data:hover {
    background: #f5f6f7;
}

.table-header,
td {
    padding: 7px 13px;
    border-bottom: 1px solid #eef0f0;
    color: #000;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 14px;
    border-top: 0;
    letter-spacing: .5px;
    text-align: left;
}

.table-header {
    font-weight: bolder;
}

.check-select-user {
    margin-right: 15px;
}

td {
    cursor: pointer;
    font-size: 13px;
    text-transform: none;
    padding: 7px 13px!important;
    line-height: 29px;
}
