a {
    text-decoration: none;
}

.content-wrapper {
    display: flex;
    padding: 0;
}

.content-wrapper .left-container {
    padding: 15px 15px 15px 0px;
}

/* PLAN-PROGRESS-WRAPPER */

.plan-progress-wrapper {
    padding: 15px 0px 15px 15px;
}

.plan-progress-wrapper h2 {
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: .1px;
    margin-bottom: 20px;
    color: #545665;
}

.plan-progress-wrapper ul {
    list-style: none;
}

.plan-progress-wrapper ul li {
    border-left: 3px solid #add8e6;
    cursor: pointer;
    background: #fff;
    padding: 8px 15px;
    margin-bottom: 13px;
    letter-spacing: .48px;
    line-height: 21px;
    border-radius: 2px;
    text-align: left;
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .04);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .04);
}

.plan-progress-wrapper ul li span.plan-name {
    font-size: 14px;
    font-weight: bolder!important;
    color: #20272d !important;
}

.plan-progress-wrapper ul li span.plan-progress {
    font-weight: 500;
    font-size: 13px;
    color: #b1b1b1;
}

/*------------------------------*/

.section-report-chart {
    padding: 0;
}

.section-report-chart .chart-title {
    padding: 10px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 3px solid #add8e6;
    border-bottom: 1px solid #e7eaed;
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: .1px;
    margin-bottom: 20px;
    color: #545665;
}

.section-report-chart .chart-title .chart-icon {
    margin-right: 15px;
    color: #add8e6;
}

#calendar-timetable-wrapper .chart-container {
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-container > .donutchart {
    margin-right: 10px;
    margin-left: 10px;
}

.section-report-chart .chart-container > div {
    float: right;
}

.double-chart-container {
    display: flex;
}

.double-chart-container .chart-wrapper {
    width: 50%;
}

.double-chart-container .chart-wrapper:first-child {
    padding-right: 10px;
}

.double-chart-container .chart-wrapper:last-child {
    padding-left: 10px;
}

.double-chart-container .chart-container {
    display: flex;
    justify-content: center;
}
