/*.modal-body {
    text-align: center;
    padding-top: 50px;
}

.modal-body i {
    color: #d4604b;
    font-size: 5em;
}

.modal-body h5 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.modal-body p {
    line-height: 12px;
    font-weight: 200;
}*/

.modal-body {
    padding-left: 20px;
    padding-right: 20px;
}

.modal-body p {
    font-size: 15px;
}

#createProgramMoal #sandbox-container .input-group {
    display: flex;
}

/* CREATE-QUESTION-MOAL */

#createQuestionModal .modal-body {
    font-size: 13px !important;
}

#createQuestionModal #essay-question {
    margin-top: 0px;
    text-align: left;
}

#createQuestionModal .content-detail.question-header {
    display: flex;
}

#createQuestionModal .question-body {
    padding: 0px;
    border: none;
}

#createQuestionModal .question-demand {
    width: 70%;
    padding-right: 20px;
}

#createQuestionModal .question-type {
    width: 30%;
}

/*-------------------------------------------------*/

#addFeedbackModal .editor {
    margin-top: 20px !important;
}


/*-------------------------------------------------*/

#viewDetailModal .progress-plan-detail {
    display: flex;
}
