@media (min-width:1200px) {
    .left-panel {
        width: 225px;
        display: block;
    }
   
    .fake-panel {
        width: 225px;
        min-width: 225px;
        display: block;
    }
    
    .main-container {
        width: calc(100% - 225px);
    }
    .fix-nav-top {
        left: 225px;
         width: calc(100% - 225px);
    }
    
    .responsive-button span {
        display: inline-block;
    }


    .responsive-button i {
        margin-right: 10px;
        font-weight: normal;

    }
}

